<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIxZurs8HebE6qOyjQK2PXR3LvDt5Z3RQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1094596033088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.growcoins</string>
	<key>PROJECT_ID</key>
	<string>growcoin-c21b1</string>
	<key>STORAGE_BUCKET</key>
	<string>growcoin-c21b1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094596033088:ios:4ded76f9dac2882b187da5</string>
</dict>
</plist>